
.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


body {
  color: black;
}


.navbar {
  background: linear-gradient(to right, #222222, #000000);
}

.titulo-nav {
  font-size: 30px;
  font-family: "Fjalla One";
  font-weight: lighter;
}



li {
  list-style: none;
  font-size: 21px;
  font-family: "Fjalla One";
  color: #fff;
  font-weight: lighter;
}
li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 12px;
}

li a:hover {
  color: rgb(0, 0, 0) !important;
  background: #ffffff;
}

@keyframes desplazar {
  0% {
    margin-top: 65px;
  }
  100% {
  }
}

@keyframes desplazar-derecha {
  0% {
    margin-left: -250px;
  }
  100% {
  }
}


/*! SECCION BIENVENIDA */

#welcome-section {
  background: linear-gradient(to right,#44ddff, #fef852);
  outline: 10px solid black;
  box-shadow: 0px 25px 10px black;
}

.p-name {
  font-family: "Contrail One", cursive;
  color: white;
  background-color: #000;
  text-align: center;
  font-size: 60px;
  margin-top: 200px;
  animation-name: desplazar;
  animation-duration: 1s;
}
.p-developer {
  font-family: "Koh Santepheap", serif;
  background-color: #000;
  margin-top: -10px;
  text-align: center;
  color: white;
  font-size: 25px;
}

.p-welcome {
  font-family: "Fjalla One";
  font-size: 50px;
  color: #000000;
  margin-top: -10px;
}

.Img-cara {
  margin-top:  5%;
  object-fit: cover;
  animation-name: desplazar;
  animation-duration: 1s;
}




/*! SECCION PROYECTOS */

#projects {
  background: linear-gradient(to right,#26aba7b8, #01a5a0fe);
  padding-top: 100px;
 
}

.p-projectsTitulo {
   font-family: "Contrail One", cursive;
   font-size: 50px;
   background-color: #000;
   color: #ffffff;
   animation-name: desplazar-derecha;
   animation-duration: 4s;
 }

 .contenedorProyecto1 {
   margin-top: 20px;
   background-color: #202020;
   outline: 4px solid rgb(255, 255, 255);
   box-shadow: 0px 0px 10px black;
   padding-bottom: 20px;
  margin-bottom: 100px;
 }

.imgs {
  width: 800px;
  background-color: white;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.imgs:hover {
  height: 330px;
  filter: blur(1px);
  z-index: 2;
}

#projects p {
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.pTituloProyecto {
  font-size: 35px;
}

.pDescProyecto{
  font-size: 20px;
}

.pHerramientasProyecto {
  font-size: 25px;
}

#projects i {
  font-size: 55px;
}




/*! SECCION CONTACTO */

 #contactBackground {
   box-shadow: 0px -2px 20px black;
  color: #dfdfdf;
  background-color: black;
  height: 700px;
}

.p-letsWork {
  padding-top: 100px;
  margin-bottom: 100px;
  color: white;
  font-size: 120px;
  font-family: "Libre Barcode 128 Text", system-ui;
}

.containerRedes {
  background-color: #000000;
  border: 2px solid white;
  padding-top: 25px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px white;

}

.containerRedes:hover {
  box-shadow: 0px 4px 15px white;
}

#contactBackground i {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#contactBackground i:hover {
  color: rgb(14, 113, 235);
  font-size: 50px;
  transition: all 0.5s ease;
}

#contactBackground a {
  text-decoration: none;
}  

@media only screen and (max-width: 768px) {
  .p-name{
    width: 350px;
    font-size: 35px;
    margin-top: 140px;
  }
  .p-developer {
    width: 230px;
    font-size: 20px;
  }
  
  .p-welcome {
    font-size: 35px;

  }
  .Img-cara {
    margin-top:  6%;
  }
  .p-letsWork {
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 100px;
  }
 
}