body{
   color: black;
}

.navbar{
width: 100%;
background: linear-gradient(to right, #303030 ,#000000);
padding-bottom: 15px;
display: flex; 
align-items: center;
justify-content: space-between;
position: fixed;

z-index: 1;
}

.Titulo-nav{
   font-size: 30px;
   font-family: 'Fjalla One';
   color: #fff;
   font-weight: lighter;
   margin-top: 18px;
   margin-left: 40px;
}

.navbar-ul{
   display: flex; 
   justify-content: right;
   
}
.li-navbar a{
   text-decoration: none;
   color: #fff;
   transition: all 0.5s ease;
   outline: 2px solid white;  
   padding: 4px 9px;
   border-radius: 12px;
}
.li-navbar{
   list-style: none;
   margin-right: 25px;
   font-size: 21px;
   font-family: 'Fjalla One';
   color: #fff;
   font-weight: lighter;
   margin-top: 15px;
   
}
.li-navbar a:hover{
   padding: 5px 10px;
   border-radius: 10px;
   color: #55D5F0;
   background: #fff;
   color: #000;
   text-decoration: underline;
}

.h1-presentation{
   font-family: 'Contrail One', cursive;
   font-size: 60px;
   margin-top: 170px;
   animation-name: desplazar;
   animation-duration: 1s;
}

@keyframes desplazar {
   0%{
      margin-top: 200px;
   }
   100%{
      
   }
}

.h2-presentation{
   font-family: "Urbanist", sans-serif;
   font-size: 40px;
   color: #DD2C2C;
   margin-top: -20px;
}

.Img-cara{
   width: 500px;
   object-fit: cover;
   animation-name: desplazar;
   animation-duration: 1s;
}

#welcome-section{
   background: linear-gradient(to right, #60bacf, #deda62);
   outline: 12px solid black;
  
}

.Titulo-nav{
   display: inline;
}

#projects{
   background: linear-gradient(to right, #AAFFBB, #FFF2AA);
   margin-top: 22px;
   outline: 12px solid black;   
}

.imgs{
   width: 550px;
   height: 430px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.imgs:hover{
   width: 550px;
   height: 450px;
   Filter: blur(1px);
   z-index: 2;
}


.titulo-projects{
 padding-top: 5px;
  height: 100px;
  margin-top: -15px; 
  margin-bottom: 50px;
}

.h1-projects{
   font-family: 'Oswald', sans-serif;
   font-size: 50px;
   justify-content: center; 
   text-align: center;
   margin-top: 40px;
   color: #171717;
   animation-name: desplazar-derecha;
   animation-duration: 3s;

}

@keyframes desplazar-derecha{
   0%{
     margin-left: -50px;
   }
   100%{
    
   }
}

.project-tile{
   margin-top: 25px;
   width: 500px;
   height: 500px;
   background-color: #2D2820;
   outline: 1.5px solid black;
   box-shadow: 2px 0 1px 1px black;
}



.descripcion-img{
   color: white;
   text-align: center;
   font-size: 35px;
   font-family: 'Rubik', sans-serif;
}

#contact{
   height: 700px;
   color: #DFDFDF;
   background-color:black;
   background-image:
   radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
   radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
   radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
   radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
   background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
   background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;  
}

.h1-contact{
   padding-top: 200px;
   font-size: 60px;
   font-family: 'Antonio', sans-serif;
}

#contact i {
   color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
#contact a {
text-decoration: none;
}



